// snackbar colors
$success: #d4edda;
$success-text: #6e9d79;
$error: #f8d7da;
$error-text: #974f56;
$warning: #fff3cd;
$warning-text: #93751c;

$error-red-color: #fb483d;

// basic
$brand-white: #f8fafc;
$brand-black: #18181b;
$bg-color: #fafafa;

// brand
$brand-color: #0891b2;
$brand-primary-color: #0e7490;

// blues
$light-blue: #eff6ff;
$bg-blue: #dbeafe;

// greens
$green: #22c55e;
$dark-green: #16a34a;

// grays
$light-gray: #d1d5db;
$gray: #6b7280;
$medium-gray: #4b5563;
$dark-gray: #374151;
