@import "./_colors.scss";

@mixin border-radius {
  border-radius: 7px !important;
}
@mixin btn {
  cursor: pointer !important;
  height: 36px;
  @include border-radius;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid transparent;

  &:hover,
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
@mixin btn-small {
  @include btn;
  height: 22px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;

  color: $brand-white;
  background-color: $gray;
  border-color: $gray;

  &:hover,
  &:active,
  &:focus {
    background-color: $medium-gray !important;
    border-color: $medium-gray !important;
  }

  &:disabled {
    background-color: $light-gray;
    border-color: $light-gray;
    color: $brand-white;
    opacity: 0.6;
  }
}
@mixin comment-card {
  cursor: pointer;
  @include border-radius;
  border: 1px solid $brand-white;
  padding: 15px 20px 10px;
  font-size: 12px;
}
@mixin red-btn {
  background-color: $error-red-color;
  border-color: $error-red-color;
  color: $brand-white;

  &:hover,
  &:active,
  &:focus {
    background-color: $error-red-color !important;
    border-color: $error-red-color !important;
    color: $brand-white;
  }
  &:disabled {
    background-color: $error-red-color;
    border-color: $error-red-color;
    color: $brand-white;
    opacity: 0.6;
  }
}

@mixin circle-pin($diameter: 22px) {
  margin-left: 10px;
  font-size: 14px;
  height: $diameter;
  width: $diameter;
  border-radius: 50%;

  color: $gray;
  background-color: $bg-blue;

  span {
    height: 20px;
  }
}
