@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/colors";

#login {
  cursor: pointer;
  color: $brand-color;
  &:hover {
    text-decoration: underline;
  }
}
#terms {
  font-size: 12px;
  color: $light-gray;
}

::ng-deep .mat-checkbox-inner-container {
  height: 12px !important;
  width: 12px !important;
}

.form-group {
  margin-bottom: 10px;
}
