@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/colors";

#login {
  cursor: pointer;
  color: $brand-color;
  &:hover {
    text-decoration: underline;
  }
}

.form-group {
  margin-bottom: 10px;
}
