@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/colors';

.form-group {
    margin-bottom: 10px;
}
#forgot {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
