<div class="page">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>

    <section class="landing-page">
        <div
            class="h-100 d-flex flex-column justify-content-center align-items-center"
        >
            <div class="form-wrapper">
                <app-logo></app-logo>
                <router-outlet></router-outlet>
            </div>
            <a
                href="https://www.dropbox.com/s/42x5j5b6sclrvh1/ReviewRoomDemo.mov"
                target="_blank"
                class="mt-4"
            >
                Product demo
            </a>
        </div>
    </section>
</div>
